{
  "presets": [
    "@babel/preset-env",        
    // Add this if you're using TypeScript
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "ReactClon.createElement"
      }
    ]
    ,"@babel/plugin-proposal-class-properties"
  ]
}
